*{
    margin: 0;
    padding: 0;
}

.contenedor{
    width: 90%;
    max-width: 1280px;
    margin: auto;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

header{
    height: 13vh;
    min-height: 70px;
    
    .HeaderTop{
        padding:  0 2.4%;
        height: 30%;
        display: flex;
        align-items: center;
        background-color: black;
        .Izquierda{
            width: 50%;
            display: flex;
            span{
                color: white;
                font-size: x-small;
                letter-spacing: 2.7px;
            }
        }
        .Derecha{
            width: 50%;
            display: flex;
            justify-content: flex-end;
            a{
                padding: 0 10px;
                text-decoration: none;
                color: white;
                font-size: x-small;
                letter-spacing: 2.7px;
            }
        }
    }
    .HeaderBottom{
        height: 70%;
        width: 100%;
        padding: 0 2.4%;
        display: flex;
        align-items: center;
        background-color: whitesmoke;
        .HeaderIzquierda{
            width: 30%;
            display: flex;
            p{
                font-size: xx-large;
                margin: 0;
                letter-spacing: 3px;
            }
        }
        .NavBar{
            width: 60%;
            ul{
                display: flex;
                justify-content: flex-end;
                margin: 0;
                li{
                    padding: 0 26px;
                    a{
                        text-decoration: none;
                        text-transform: uppercase;
                        color: black;
                        font-size: 1.1em;
                        letter-spacing: 1.5px;
                    }
                }
            }
        }
        .HeaderDerecha{
            width: 10%;
            display: flex;
            justify-content: flex-end;
            i{
                margin: 0 10px 0 15px;
                font-size: 22px;
                &:first-child{
                    margin: 0 15px 0 0;
                }
            }
            
        }
    }
}



//estilos para ItemCount

    .itemCount{
        margin: 50px 0 50px 0;
        display: flex;
        align-items: center;
        .contAddCart{
           margin-right: 20px;
            .menos{
                color: white;
                background-color: #9D9D9D;
                padding: 0;
                width: 30px;
                height: 30px;
                line-height: 17px;
                margin: 0;
                display: inline;
                font-size: 30px;
                border: 0;
                cursor: pointer;
                outline: 0;
                padding-bottom: 5px;
            }
            .mas{
                color: white;
                background-color: #9D9D9D;
                padding: 0;
                width: 30px;
                height: 30px;
                line-height: 17px;
                margin: 0;
                display: inline;
                font-size: 30px;
                border: 0;
                cursor: pointer;
                outline: 0;
                padding-bottom: 5px;
            }
            .cantidad{
                border: none;
                padding: 0 5px;
                width: 35px;
                display: inline;
                text-align: center;
                font-weight: 600;
                color: #303030;
                font-size: 20px;
            }
        }
        .btnAddCart{
            color: #fff;
            border-color: #1a1a1a;
            font-size: 13px;
            line-height: 62px;
            height: 62px;  // CAmbiar a 50px
            font-style: normal;
            font-weight: 500;
            background-color: #1a1a1a;
            border-radius: 0px;
            -moz-border-radius: 0px;
            -webkit-border-radius: 0px;
            letter-spacing: 3.6px;
            text-transform: uppercase;
            border-width: 0px;
            padding-left: 33px;
            padding-right: 33px;
        }
    }
    


//estilos para ItemList

.contenedor{
    .contTituloYRaya{
        margin: 90px 0 80px;
        .contTitulo{
            h2{
                color: #1a1a1a;
                font-size: 45px;
                line-height: 45px;
                font-style: normal;
                font-weight: 300;
                letter-spacing: 0px;
                text-transform: uppercase;
            }
        }
        .contRaya{

        }
    }
    .contListaProductos{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding-left: 0;
    }
}


//estilos para Item 

.listaDeProductos{
    margin-bottom: 70px;
    .contSeccionProduct{
        .contImg{
            img{
                width: 300px;
                height: 556px;
            }
        }
    }
    .productCategories{
        margin-top: 22px;
        margin-bottom: 10px;
        a{
            text-decoration: none;
            color: #777;
        }
    }
    .productInfo{
        text-decoration: none;
        h4{
            font-size: 15px;
            line-height: 17px;
            letter-spacing: 1px;
            font-weight: 500;
            font-style: normal;
            text-transform: uppercase;
            text-align: center;
            padding: 0;
            color: black;
        }
        .separadorTitlePrice{
            background-color: #c2c2c2;
            margin-top: 5px;
            margin-bottom: 20px;
            height: 2px;
            width: 70px;
            margin-left: auto;
            margin-right: auto;
           
        }
        .price{
            color: #303030;
            font-size: 15px;
            line-height: 15px;
            font-style: normal;
            font-weight: 500;
            letter-spacing: 1px;
            text-align: center;
        }
    }
}




//Estilos para ItemDetail


.contItemDetail{
    .contenedor{
        .contSeccionDescripcion{
            display: flex;
            .contImg{
                margin-right: 30px;
                width: 50%;
                img{
                    height: 1100px;
                    width: 600px;
                }
            }
            .contDescripcionYMeta{
                width: 50%;
                margin-left: 30px;
                .contTitle{
                    h1{
                        text-align: left;
                        font-size: 20px;
                        text-transform: uppercase;
                        font-weight: 700;
                    }
                    .contPrecio{
                        p{
                            text-align: left;
                            font-size: 21px;
                            color: #bcbcbc;
                            font-family: Raleway,sans-serif;
                            font-weight: 600;
                            margin-bottom: 5px;
                        }
                    }
                    .contDescripcion{
                        p{
                            text-align: left;
                            color: #777;
                            font-size: 18px;
                            line-height: 25px;
                            font-style: normal;
                            font-weight: 300;
                        }
                    }
                    .productMeta{
                        p{
                            text-align: left;
                            display: block;
                            color: #333;
                            font-weight: 700;
                            font-size: 14px;
                            text-transform: uppercase;
                            span{
                                font-weight: 300;
                                color: #777;
                                text-transform: none;
                                margin-left: 3px;
                            }
                        }
                    }
                }
            }
        }
    }
}