@import './CheckOut.scss';
@import './Cart.scss';
@import './ItemDetail.scss';
@import './Item.scss';
@import './ItemList.scss';
@import './ItemCount.scss';
@import './Header.scss';


*{
    margin: 0;
    padding: 0;
}

.contenedor{
    width: 90%;
    max-width: 1280px;
    margin: auto;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}




















