.cart{
    margin-top: 150px;
    p{
        margin-bottom: 0px;
    }
    .contNoHayProductos{
        h5{
            color: #777;
            font-size: 14px;
            line-height: 25px;
            font-style: normal;
            font-weight: 300;
        }
        button{
            color: #fff;
            border-color: #1a1a1a;
            font-size: 13px;
            line-height: 62px;
            height: 62px;
            font-style: normal;
            font-weight: 500;
            background-color: #1a1a1a;
            border-radius: 0px;
            -moz-border-radius: 0px;
            -webkit-border-radius: 0px;
            letter-spacing: 3.6px;
            text-transform: uppercase;
            border-width: 0px;
            padding-left: 33px;
            padding-right: 33px;
        }
    }
    .contenedor{
        .titulosCart{
            display: flex;
            align-items: center;
            padding: 13px 10px;
            font-size: 14px;
            line-height: 1.571428571428571em;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 600;
        }
        .item{
            display: flex;
            align-items: center;
            padding: 10px 0 10px;
            p{
                color: #888;
            }
            i{
                font-size: 25px;
            }
            img{
                display: block;
                width: 66px;
                height: 100px;
            }
            div{
                .contadores{
                    padding: 0;
                    width: 17px;
                    height: 17px;
                    line-height: 17px;
                    margin: 0;
                    display: inline;
                    font-size: 14px;
                    border: 0;
                    cursor: pointer;
                    outline: 0;
                    background-color: #bcbcbc;
                    color: #fff;
                    border-radius: 500px;
                }
                .cantidad{
                    border: none;
                    padding: 0 5px;
                    width: 22px;
                    display: inline;
                    text-align: center;
                    font-weight: 600;
                    color: #303030;
                    font-size: 17px;
                    background: 0 0;
                }
            }
            
        }
        .tabla{
            display: grid;
            width: 100%;
            border-right: 1px solid #c9c7c7;
            border-left: 1px solid #c9c7c7;
            border-bottom: 1px solid #c9c7c7;
            grid-template-columns: 6% 6% 40% 16% 16% 16%;
            &:first-child{
                border-top: 1px solid #c9c7c7;
            }
            button{
                width: 50%;
                justify-self: center;
                color: #fff;
                border-color: #1a1a1a;
                font-size: 13px;
                line-height: 62px;
                height: 62px;
                font-style: normal;
                font-weight: 500;
                background-color: #1a1a1a;
                border-radius: 0px;
                -moz-border-radius: 0px;
                -webkit-border-radius: 0px;
                letter-spacing: 3.6px;
                text-transform: uppercase;
                border-width: 0px;
                padding-left: 33px;
                padding-right: 33px;
                margin: 0;
            }
        }
        .totalTotal{
            padding: 10px 0 10px;
            p{
                color: black;
                text-transform: uppercase;
                font-weight: 600;
                align-self: center;
                 
            }
        }
        button{
            color: #fff;
            border-color: #1a1a1a;
            font-size: 13px;
            line-height: 62px;
            height: 62px;
            font-style: normal;
            font-weight: 500;
            background-color: #1a1a1a;
            border-radius: 0px;
            -moz-border-radius: 0px;
            -webkit-border-radius: 0px;
            letter-spacing: 3.6px;
            text-transform: uppercase;
            border-width: 0px;
            padding-left: 33px;
            padding-right: 33px;
            float: right;
            margin-top: 22px;
        }
        
    }

}