.cart{
    margin-top: 150px;
    p{
        margin-bottom: 0px;
    }
    .contNoHayProductos{
        h5{
            color: #777;
            font-size: 14px;
            line-height: 25px;
            font-style: normal;
            font-weight: 300;
        }
        button{
            color: #fff;
            border-color: #1a1a1a;
            font-size: 13px;
            line-height: 62px;
            height: 62px;
            font-style: normal;
            font-weight: 500;
            background-color: #1a1a1a;
            border-radius: 0px;
            -moz-border-radius: 0px;
            -webkit-border-radius: 0px;
            letter-spacing: 3.6px;
            text-transform: uppercase;
            border-width: 0px;
            padding-left: 33px;
            padding-right: 33px;
        }
    }
    .contenedor{
        margin-bottom: 105px;
        .contProduct{          
                display: flex;
                justify-content: center;
                align-items: center;
                border-top: 1px solid #e8e8e8;
                border-left: 1px solid #e8e8e8;
                border-right: 1px solid #e8e8e8;
                padding: 10px;
                #imgCart{
                    img{
                        width: 60px;
                    }
                }
                .productDescription{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .p{
                        color: #c1c2c5 !important;
                    }
                    input{
                        background-color: #f0f5f8;
                        border: none;
                        border-radius: 100%;
                        width: 21px;
                        color: grey;
                        font-weight: bold;
                    }
                }
            
        }
        .titulosTablaCart{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            line-height: 1.571428571428571em;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 600;
            border-top: 1px solid #e8e8e8;
            border-left: 1px solid #e8e8e8;
            border-right: 1px solid #e8e8e8;
            padding: 10px;
        }
       
        .tabla{
            display: flex;
            justify-content: center;
            align-items: center;
            border-top: 1px solid #e8e8e8;
            border-bottom: 2px solid #e8e8e8;
            border-left: 1px solid #e8e8e8;
            border-right: 1px solid #e8e8e8;
            padding: 10px;
            .contUltimaLinea{
                display: flex;
                justify-content: center;
                p{
                    font-weight: 600;
                    text-transform: uppercase;
                }
                button{
                    margin-top: 0;
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }
        }
      
        button{
            color: #fff;
            border-color: #1a1a1a;
            font-size: 13px;
            line-height: 62px;
            height: 62px;
            font-style: normal;
            font-weight: 500;
            background-color: #1a1a1a;
            border-radius: 0px;
            -moz-border-radius: 0px;
            -webkit-border-radius: 0px;
            letter-spacing: 3.6px;
            text-transform: uppercase;
            border-width: 0px;
            padding-left: 33px;
            padding-right: 33px;
            float: right;
            margin-top: 22px;
        }
        
    }

}


@media screen and (max-width: 767px) {
    
    .titulosTablaCart{
        p{
            letter-spacing: 0px;
        }
        #pCart{
            display: none;
        }
    }
    .tabla{
        .contP{
            display: none;
        }
        .contUltimaLinea{
            display: flex;
            justify-content: center;
        }
    }
    .contProduct{
        #imgCart{
            display: none;
        }
        
    
}
}