.contenedor{
    .contTituloYRaya{
        margin: 90px 0 80px;
        .contTitulo{
            h2{
                color: #1a1a1a;
                font-size: 45px;
                line-height: 45px;
                font-style: normal;
                font-weight: 300;
                letter-spacing: 0px;
                text-transform: uppercase;
            }
        }
        .contRaya{

        }
    }
    .contListaProductos{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding-left: 0;
    }
}
