.contItemDetail {
  .contenedor {
    background-color: white;
    .contSeccionDescripcion {
      display: flex;
      justify-content: center;
      gap: 30px;
      .contTitle {
        h1 {
          text-align: left;
          font-size: 20px;
          text-transform: uppercase;
          font-weight: 700;
        }
        .contPrecio {
          p {
            text-align: left;
            font-size: 21px;
            color: #bcbcbc;
            font-family: Raleway, sans-serif;
            font-weight: 600;
            margin-bottom: 5px;
          }
        }
        .contDescripcion {
          p {
            text-align: left;
            color: #777;
            font-size: 18px;
            line-height: 25px;
            font-style: normal;
            font-weight: 300;
          }
        }
        .productMeta {
          p {
            text-align: left;
            display: block;
            color: #333;
            font-weight: 700;
            font-size: 14px;
            text-transform: uppercase;
            span {
              font-weight: 300;
              color: #777;
              text-transform: none;
              margin-left: 3px;
            }
          }
        }
      }
    }
  }
}
